node_modules/
yarn.lock
package-lock.json

# Log files
logs/
*.log

# Authentication
deploy/

# Miscellaneous
.tmp/
.vscode/
docs/

# NPM ignore
.eslintrc.js
.gitattributes
.gitignore
.travis.yml
.github/
test/
src/
tsconfig.json
tslint.json
.eslintrc
.npmrc
.npmignore
.prettierrc
webpack.config.js